<h2> Demo input/ output</h2>

<section>
    <h3>Product list</h3>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>
            @for(p of products; track p.id){
                <tr>
                    <td>{{p.name}}</td>
                    <td>{{p.price| currency:'EUR'}}</td>
                    <td>
                        <button (click)="setSelectedProducts(p)">
                            select
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if(selectedProducts){
        <app-confirm-dialog [product]="selectedProducts"
        (confirmEvent)="reactToConfirmDialog($event)">
          <p>  de l'html qui n'est pas afficher sauf si utilsation de ngcontent</p>
        </app-confirm-dialog>
    }
</section>