@if (control && errors && !control.untouched) {
    @if (errors['required']) {
        <span class="error"> Champs requis </span>
    }
    
  @if (errors['minlength']) {
    <span class="error">Minimum {{ errors['minlength'].requiredLength }} élements</span>
  }
  @if (errors['maxlength']) {
    <span class="error">Maximum {{ errors['maxlength'].requiredLength }} élements</span>
  }
  @if (errors['min']) {
    <span class="error">Minimum {{ errors['min'].min }}</span>
  }
  @if (errors['max']) {
    <span class="error">Maximum {{ errors['max'].max  }} numbers</span>
  }
  @if (errors['email']) {
    <span class="error">Email non valid</span>
  }
  @if (errors['weekAfterToday']) {
    <span class="error">min une semaine entre aujourd'hui et la date choisi </span>
  }

}