<!-- voir sur github de seb 
<h3> Ajouter ou retirer un produit du stock </h3>
<section>
    <h3> Modifier le produit</h3>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(p of product; track p.id){
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td> 
                    <button (click)="increase()">Augmenter</button>
                    <button (click)="decrease()">Diminuer</button>
                </td>
            </tr>}
            
        </tbody>
    </table>
</section>
-->